.idea/
venv/
/PythonWorkingScripts_InputData/Assessment/applicant_report/downloaded/downloadedfile.xlsx
/PythonWorkingScripts_InputData/Assessment/assessment_docket/*.txt
/PythonWorkingScripts_InputData/Assessment/assessment_docket/*.zip
__pycache__/
*.pyc
/PythonWorkingScripts_Output/*.xls
/PythonWorkingScripts_Output/*.xlsx
/PythonWorkingScripts_Output/allowed_extensions/*.xls
/PythonWorkingScripts_Output/allowed_extensions/*.xlsx
/PythonWorkingScripts_Output/Assessment/*.xls
/PythonWorkingScripts_Output/Assessment/*.xlsx
/PythonWorkingScripts_Output/INFRA/*.xls
/PythonWorkingScripts_Output/INFRA/*.xlsx
/PythonWorkingScripts_Output/interview/*.xls
/PythonWorkingScripts_Output/interview/*.xlsx
/PythonWorkingScripts_Output/SECURITY/*.xls
/PythonWorkingScripts_Output/SECURITY/*.xlsx
/PythonWorkingScripts_Output/SSRF/*.xls
/PythonWorkingScripts_Output/SSRF/*.xlsx
/PythonWorkingScripts_Output/UI/*.xls
/PythonWorkingScripts_Output/UI/*.xlsx
/SCRIPTS/CRPO_COMMON/credentials.py
/SCRIPTS/COMMON/dbconnection.py
/PythonWorkingScripts_Output/Assessment/proctoring/*.xls
/PythonWorkingScripts_Output/Assessment/proctoring/*.xlsx
/PythonWorkingScripts_Output/Assessment/search/*.xls
/PythonWorkingScripts_Output/Assessment/search/*.xlsx
/PythonWorkingScripts_Output/Assessment/plagiarism_report/*.xls
/PythonWorkingScripts_Output/Assessment/plagiarism_report/*.xlsx
/PythonWorkingScripts_Output/Assessment/reinitiate/*.xls
/PythonWorkingScripts_Output/Assessment/reinitiate/*.xlsx
/PythonWorkingScripts_Output/Assessment/report/*.xls
/PythonWorkingScripts_Output/Assessment/report/*.xlsx
/PythonWorkingScripts_Output/Assessment/UI/*.xls
/PythonWorkingScripts_Output/Assessment/UI/*.xlsx
/PythonWorkingScripts_Output/Assessment/UI/VET/*.xlsx
/PythonWorkingScripts_Output/Assessment/UI/VET/*.xls
chromedriver.exe