.idea/
venv/
/PythonWorkingScripts_Output/*.xlsx
/PythonWorkingScripts_Output/*.xls
/PythonWorkingScripts_Output/*
/PythonWorkingScripts_InputData/Assessment/applicant_report/downloaded/downloadedfile.xlsx
PythonWorkingScripts_InputData/Assessment/applicant_report/downloaded/downloadedfile.xlsx
__pycache__/
*.pyc
/SCRIPTS/CRPO_COMMON/credentials.py
/SCRIPTS/COMMON/dbconnection.py
